* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

h3 {
  text-align: center;
  font-size: 1.640625rem;
  padding: 10px 0;
  font-weight: 300;
}
.container {
  margin: 20px;
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table caption {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  font-size: 1.171875rem;
  font-weight: 300;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

table tbody tr:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.mb-lg {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin: auto;
  }
  table {
    width: 50%;
  }
}
